<!DOCTYPE html>
<html data-ng-app="AddressBookApp" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Address Book</title>
    <link href="../Content/css/style.css" rel="stylesheet">
</head>
<body>
    <div data-ng-view=""></div>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="../Scripts/app.js"></script>
    <script type="text/javascript" src="../Scripts/AddressBookController.js"></script>
    <script type="text/javascript" src="../Scripts/AddressDetailDirective.js"></script>
    <script type="text/javascript" src="../Scripts/AddressProviderService.js"></script>
</body>
</html>
